body, p {
  font-family: $base-font;
  letter-spacing: 0.5px;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-header-font;
  font-weight: bold;
  margin: 1rem 0;
  text-transform: uppercase;
  color: $earth;
}

h1, h2, h3 {
  letter-spacing: 4px;
}

a {
  color: $color-accent;

  &:hover, &:focus {
    color: darken( $color-accent, 5 );
  }
}
