// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary-color:         #BCE8F4;
$card-color:            #FAF9F9;

// Buttons
$button-padding: 0.5rem 1rem;

// Card
$default-shadow: 0px 2px 4px 1px transparentize( #000, 0.8 );

// Type
$base-font: "Roboto Mono", serif;
$base-header-font: $base-font;
